body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}


a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

hr {
    width: 90%;
}

/* Header */

nav button {
    border-radius: 10px;
    background-color: #4c4cc0;
    color: white;
    height: 30px;
    width: 80px;
    -webkit-box-shadow: 13px 10px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 10px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 13px 10px 20px -4px rgba(0,0,0,0.75);
    margin:5px;
}
nav button:hover {
    background-color: #3b3bb0;
}

nav {
    display: grid;
    background-color: #1f1f8a;
    grid-template-columns: 10% 1fr 1fr 1fr 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "logo search search nav-panel buttons";

}

.logo {
    grid-area: logo;
    margin-left: 10px;
}

.search {
    grid-area: search;

}
.input:focus {
    outline: none;
}
.search input {
    font-size: 20px;
    font-weight: 700;
    width: 60%;
    height: 24px;
    outline: none;
    background-color: transparent;
    color: #fff;
    border: none;
}
.search button {
    width: 10%;
    background-color: transparent;
    color: #fff;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.search button:hover {
    background-color: transparent;
    cursor: pointer;
}
.nav-panel {
    grid-area: nav-panel;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.nav-panel p {
    padding: 10px;
    border: 1px solid rgb(22, 20, 20);
    color: white;
    background-color: #5e5ef7;
}
.nav-panel p:hover {
    background-color: #4d4de6;
}

.buttons {
    grid-area: buttons;
    margin-top: 10px;
    margin-left: 20px;
}

li {
    list-style: none;
}
.hamburger {
    display: none;
}
/* login popup */

.login-popup {
    position: absolute;
    display: none;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.login-content {
    background-color: #fff;
    height: 250px;
    width: 500px;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.x {
    position: relative;
    top: 0; 
    height: 15px;
    width: 15px;
    font-size: 20px;
    cursor: pointer;
}
.login-content input {
    width: 80%;
    height: 24px;
    margin: 10px auto 10px auto;
    border: 0;
    border-bottom: 2px #111 solid;
    display: block;
    padding: 5px;
    font-size: 20px;
}
.login-content input:focus {
    border-bottom: 2px #76a8e2 solid;
}
.login-content button {
    margin-top: 10px;
    height: 40px;
    border: 2px #111 solid;
    border-radius: 0%;
    padding: 5px;
    width: 80%;
    font-size: 22px;
    cursor: pointer;
}
.login-content button:hover {
    border: 2px #76a8e2 solid;
}

/* main */

main {
    background: rgb(224, 214, 190);
    color: white;
    width: 100%;
    text-align: center;
}

main h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: black;
}

.latest-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 20px;
}

.post-card {
    background: #1f1f8a;
    margin: 20px;
}

.post-card img {
    width: 100%;
}

/* Article page */

.article-card {
    display: flex;
    flex-direction: row;
    background:#1f1f8a;
    margin: 40px;
}

.article-card img {
    flex: 1;
    min-width: 100px;
}

.article-text {
    flex: 3;
}

/* Footer */

footer {
    background-color: rgb(22, 20, 20);
    height: 80px;
    color: white;
    text-align: center;
    
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    background-color: rgb(22, 20, 20);
    padding: 20px;
}

.container ul {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.footer-panel:first-child {
    border-right: solid 1px #888;
}

.footer-panel-item {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    font-size: 22px;
    border: 1px solid #111;
}
.footer-panel-item:hover {
    opacity: 0.8;
}

.facebook {
    background: #3B5998;
    flex: 4;
}

.twitter {
    flex: 4;
    background: #55ACEE;
}
.instagram {
    flex: 4;
    background: #125688;
}
.google {
    flex: 4;
    background: #dd4b39;
}
.github {
    flex: 4;
    background: #232323;
}
.youtube {
    flex: 4;
    background: #bb0000;
}
.fa-facebook{
    width: 20px;
    height: 20px;
    color: white;
    background-color: #3B5998;
}

.fa-twitter {
    width: 20px;
    height: 20px;
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    width: 20px;
    height: 20px;
    background: #125688;
    color: white;
}
.fa-google {
    width: 20px;
    height: 20px;
    background: #dd4b39;
    color: white;
}
.fa-github {
    width: 20px;
    height: 20px;
    background: #232323;
    color: white;
}
.fa-youtube {
    width: 20px;
    height: 20px;
    background: #bb0000;
    color: white;
}
.fa {
    padding:7px;
    text-align: center;
    text-decoration: none;
    border-right: 1px dashed #ddd;
    flex: 1;
}

.copyright {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 20, 20);
    
}
/* Media Queries */

@media (max-width: 767px) {
    /* header */
    nav {
        position: fixed;
        width: 100%;
        display: grid;
        grid-template-rows: 10%;
        grid-template-columns: 100%;
        grid-template-areas: 
        "logo"
        "search"
        "nav-panel"
        "buttons"
        ;
        margin: 0;
    }
    nav button:hover {
        background-color: transparent;
    }
    .logo {
        text-align: center;
        margin: 0;
    }
    .search {
        display: none;
        padding: 0;
        margin: 0;
    }
    .search input{
        width: 85%;
        text-align: center;
    }
    .search button {
        width: 10%;
    }
    .nav-panel {
        display: none;
        grid-template-columns: 100%;
        grid-gap: 0;
        text-align: center;
    }
    .nav-panel p {
        margin: 0 0 10px 0;
    }
    .buttons {
        display: none;
        grid-template-columns: 1fr;
        grid-gap: 0;
        margin: 0;
        padding: 0;
    }
    .buttons button {
        width: 100%;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }
    .hamburger {
        padding: 20px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        grid-area: ham;
        position: fixed;
        z-index: 1;
    }

    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }
    .hamburger-inner {
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .1s .2s ease-in-out;
    }
    .hamburger-inner::before,
    .hamburger-inner::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        transition: transform .2s .2s ease-in-out;
    }

    .hamburger-inner::before {
        top: -10px;
    }
    .hamburger-inner::after {
        top: 10px;
    }

    .hamburger-active .hamburger-inner {
        background-color: transparent;
    }
    .hamburger-active .hamburger-inner:before {
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger-active .hamburger-inner:after {
        transform: translateY(-10px) rotate(-45deg);
    }
    .nav-active nav {
        display: grid;
        
    }
    .nav-active .search{
        display: block;
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
    }
    .nav-active .nav-panel{
        display: grid;
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 0;
    }
    .nav-active .buttons{
        display: grid;
        margin: 0 10px 0 10px;
        padding: 0 0 10px 0;
    }
    .nav-active .buttons button:nth-child(2) {
        margin-top: 10px;
    }

    /* main */
    main h2 {
        font-size: 32px;
    }

    .latest-posts {
        grid-template-columns: 1fr ;
    }
    /* article */
    .article {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .article-card {
        display: inline-block;
        margin: 20px;
    }
    .article-card img {
        width: 100%;
    }
    /* footer  */
    .container {
        display: grid;
        grid-template-columns: 1fr;

    }
    .container ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
        padding: 0;
    }
    .footer-panel:first-child {
        border-right:none;
    }
    .footer-panel-item {
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    /* header */
    nav {
        grid-template-columns: 10% 50% 1fr 20%;
        grid-template-areas: "logo search nav-panel buttons";
        
    }
    .search input {
        width: 65%;
        border-radius: 10px;
        height: 24px;
    }
    .logo {
        margin: 10px 0 0 10px;
    }
    .search {
        margin-top: 25px;
    }
    /* main */
    main h2 {
        font-size: 38px;
    }
    .latest-posts {
        grid-template-columns: 1fr 1fr;
    }
    /* footer */
    .container ul {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-panel-item {
        width: 50%;
    }
}
@media (min-width: 1024px) {
    /* header  */
    nav {
        display: grid;
        background-color: #1f1f8a;
        grid-template-columns: 10% 1fr 1fr 1fr 20%;
        grid-template-rows: 1fr;
        grid-template-areas: "logo search search nav-panel buttons";
    }

    .search input {
        width: 60%;
    }
    .logo {
        margin-left: 20px;
    }
    .buttons {
        margin-top: 25px;
    }
    /* main */
    .latest-posts {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /* footer */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 20px;
    }
    .container ul {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .footer-panel:first-child {
        border-right: solid 1px #888;
    }
    
    .footer-panel-item {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    /* header */
    .logo {
        margin-top: 5px;
    }
    .search {
        margin-top: 20px;
    }
    .search input {
        width: 80%;
    }
    .buttons {
        margin-top: 20px;
    }
}