body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

button {
    border-radius: 10px;
    background-color: #4c4cc0;
    color: white;
    height: 30px;
    width: 80px;
    -webkit-box-shadow: 13px 10px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 10px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 13px 10px 20px -4px rgba(0,0,0,0.75);
    margin:5px;
}
button:hover {
    background-color: #3b3bb0;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

/* Header */

hr {
    width: 90%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f1f8a;
}
.nav-panel {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
}

.nav-panel p {
    padding: 10px;
    border: 1px solid rgb(22, 20, 20);
    color: white;
    background-color: #5e5ef7;
}
.nav-panel p:hover {
    background-color: #4d4de6;
}
.logo {
    padding: 0 30px 0 30px;
    flex:1;
    align-items: center;
}

.search {
    flex:4;
}

.search input {
    width: 80%;
    border-radius:10px ;
    height: 24px;
}

.list {
    flex:2;
}

.buttons{
    flex:2;
    align-items: right;
}
li {
    list-style: none;
}

/* main */

main {
    background: rgb(224, 214, 190);
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    padding: 40px;
}

main h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.latest-posts{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 5px;
}

.last-post {
    flex: 3;
    height: 400px;
    display: flex;
}
.last-posts {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.post-card-big {
    background: #1f1f8a;
    flex: 3;
    height: 400px;
    
}

.post-card-big img {
    width: 100%;
}

.post-card-right {
    height: 200px;
    flex: 1;
    margin: 0 0 20px 20px;
    align-items: center;
    background: #1f1f8a;
}

.post-card-right:last-child{
    margin-bottom: 0;
}

.post-card {
    height: 200px;
    flex: 1;
    align-items: center;
    background: #1f1f8a;
    margin-right: 20px;
}

.post-card:last-child {
    margin-right: 0;
}

.post-card img {
    width: 50%;
    
}
.other-posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex:1;
}

/* Footer */

footer {
    background-color: rgb(22, 20, 20);
    height: 80px;
    color: white;
    text-align: center;
    
}
.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 20, 20);
    padding: 20px;
}

.footer-panel {
    flex: 1;
    margin:0;
    padding: 0;
    align-items: center;
}
.footer-panel:first-child {
    border-right: solid 1px #888;
}

.footer-panel-item {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    font-size: 22px;
    margin-top: 10px;
    border: 1px solid #111;
}
.footer-panel-item:hover {
    opacity: 0.8;
}

.facebook {
    background-color: #3B5998;
    flex: 4;
}

.twitter {
    flex: 4;
    background: #55ACEE;
}
.instagram {
    flex: 4;
    background: #125688;
}
.google {
    flex: 4;
    background: #dd4b39;
}
.github {
    flex: 4;
    background: #232323;
}
.youtube {
    flex: 4;
    background: #bb0000;
}
.fa-facebook{
    width: 20px;
    height: 20px;
    color: white;
    background-color: #3B5998;
}

.fa-twitter {
    width: 20px;
    height: 20px;
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    width: 20px;
    height: 20px;
    background: #125688;
    color: white;
}
.fa-google {
    width: 20px;
    height: 20px;
    background: #dd4b39;
    color: white;
}
.fa-github {
    width: 20px;
    height: 20px;
    background: #232323;
    color: white;
}
.fa-youtube {
    width: 20px;
    height: 20px;
    background: #bb0000;
    color: white;
}
.fa {
    padding:7px;
    text-align: center;
    text-decoration: none;
    border-right: 1px dashed #ddd;
    flex: 1;
}

.copyright {
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 20, 20);
    
}

